:root {
  --background-color: #f8f9fa;
  --text-color: #333333;
  --heading-color: #000000;
  --button-background-color: #e4e4e4;
  --button-hover-background-color: #cccccc;
  --box-background-color: #ffffff;
  --box-shadow-color: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.dark {
  --background-color: #222222;
  --text-color: #e0e0e0;
  --heading-color: #ffffff;
  --button-background-color: #444444;
  --button-hover-background-color: #666666;
  --box-background-color: #2a2a2a;
  --box-shadow-color: 0 0 1rem rgba(0, 0, 0, 0.1);
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3 {
  color: var(--heading-color);
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

p {
  color: var(--text-color);
  margin-bottom: 1rem;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: var(--link-hover-color);
  }
}

button {
  background-color: var(--button-background-color);
  color: var(--text-color);
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px var(--shadow-color);
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--button-hover-background-color);
  }
}

/* input,
textarea {
  background-color: var(--input-background-color);
  color: var(--text-color);
  border: 1px solid var(--separator-color);
  padding: 0.5rem;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 1rem;

  &::placeholder {
    color: var(--placeholder-color);
  }
} */

.npc-paragraph {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  margin: auto;
  /* border-radius: 8px; */
  max-width: 1000px;
  & > div {
    gap: 0;
  }
}

.npc-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  margin: auto;
  border-radius: 8px;
  width: 100%;
  /* max-width: 800px; */
  background-color: var(--box-background-color);
  box-shadow: var(--box-shadow-color);

  .project-content {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping of items */
    gap: 2rem;
    justify-content: center;
  }

  .project-image {
    width: 100%;
    max-width: 300px; /* Set maximum width */
    height: 300px; /* Set height to match width for a square image */
    object-fit: cover; /* Ensure the image covers the area without distortion */
    border-radius: 8px;
    box-shadow: rgba(131, 131, 131, 0.479) 1px 1px 40px;
  }

  .project-description {
    flex: 1; /* Allow the description to take up remaining space */
    min-width: 200px; /* Ensure it has a minimum width */
  }

  .project-description p {
    margin: 0 0 1rem; /* Add margin for spacing between paragraphs */
  }

  .download-badge {
    display: flex;
    justify-content: center; /* Center the badges horizontally */
    gap: 1rem; /* Space between the badges */
    margin: 2rem 0; /* Add some margin above and below */
    flex-wrap: wrap;
  }

  .download-badge img {
    height: 50px; /* Set a maximum width for the badges */
    transition: transform 0.3s; /* Add a transition effect for hover */
  }

  .download-badge img:hover {
    transform: scale(1.05); /* Slightly enlarge the badge on hover */
  }
}
.btn-discord {
  background-color: #0071e3;
  color: white;

  &:hover {
    background-color: #692ae6;
    color: white;
  }
}
